
<body>
		<img src="/images/macarons.jpg" alt="macarons" class="horizontal"/>
  		<article>

			{{# if user}}
				<p class="text"> Bonjour {{user.firstName}} ! Que cherchez-vous aujourd'hui ? </p>
			{{else}}
				<p class="text">Bienvenue sur notre site de <strong>recettes de patisserie</strong> ! N'hésitez pas à choisir une <strong>catégorie</strong> de recettes ci-dessous :</p>
			{{/if}}
<<<<<<< HEAD

			<p class="text">Bienvenue sur notre site de <strong>recettes de patisserie</strong> !!! N'hésitez pas à choisir une <strong>catégorie</strong> de recettes ci-dessous :</p>

=======
			
>>>>>>> a2c3bcb80cfcf0b50c0bd5801c85662cc5dbf586
			<div class="Andy">

				<div class="row">
					<div class='capsule'><a href="/listing/tartes"><div id="box1" class="box">
						<p>Tartes</p>
					</div></a></div>

					<div class='capsule'><a href="/listing/cookies"><div id="box2" class="box">
						<p>Cookies</p>
					</div></a></div>

					<div class='capsule'><a href="/listing/chocolat"><div id="box3" class="box">
						<p>Chocolat</p>
					</div></a></div>
				</div>

				<div class="row">
					<div class='capsule'>	<a href="/listing/glaces"><div id="box4" class="box">
						<p>Glaces</p>
					</div></a></div>

					<div class='capsule'><a href="/listing/macarons"><div id="box5" class="box">
						<p>Macarons</p>
					</div></a></div>

					<div class='capsule'><a href="/listing/entremets"><div id="box6" class="box">
						<p>Entremets</p>
					</div></a></div>
				</div>

				<div class="row">
					<div class='capsule'><a href="/listing/cupcakes"><div id="box7" class="box">
						<p>Cupcakes</p>
					</div></a></div>

					<div class='capsule'><a href="/listing/biscuits"><div id="box8" class="box">
						<p>Biscuits</p>
					</div></a></div>

					<div class='capsule'><a href="/listing/smoothies"><div id="box9" class="box">
						<p>Smoothies</p>
					</div></a></div>
				</div>

			</div>
  	</article>
</body>
