

	<article>
		<h1>{{ title }}</h1>

      	<hr>
      	<br>
     	<br>

     	<div class="list">

     		{{#each recipes}}

	     	<div class="listItem">

	     		<img src="/images/parDefault.png" alt="imagerecette" id="photo"> </img>
	     		<div>
	     			<p> {{this.title}} </p>

	     			<div class="rating">

	              		<p> Note :</p>

		                <div class="empty" name="rating" id="s1" onclick="clickstar(1);"><i class="far fa-star"></i></div>
		                <div class="empty" name="rating" id="s2" onclick="clickstar(2);"><i class="far fa-star"></i></div>
		                <div class="empty" name="rating" id="s3" onclick="clickstar(3);"><i class="far fa-star"></i></div>
		                <div class="empty" name="rating" id="s4" onclick="clickstar(4);"><i class="far fa-star"></i></div>
		                <div class="empty" name="rating" id="s5" onclick="clickstar(5);"><i class="far fa-star"></i></div>

					</div>

		            <p>

			            Difficulté : ?/5 <br><br>

			            Temps de préparation : {{this.time}} <br><br>
			            Temps de cuisson : {{this.bakingTime}} <br><br>

		            </p>

		        </div>

	     	</div>
	     	{{/each}}
	    </div>

    </article>
