<body>
  <article class="logIn">
    <h1>Connexion</h1>
    <form class="LoginForm" >
      <label for="mail">Votre adresse mail : </label><input name="mail" id="mail">
      <label for="password1">Votre mot de passe : </label><input type="password" name="password" id="password">
      <div class="center">
        <input type="submit" value="Envoyer" >
        <input type="cancel" value="Annuler" >
      </div>
    </form>
  </article>
  <script src="js/logIn.js"></script>
</body>
