<body>
  <article class="logIn">
    <div class="connect">
      <h1>Connexion</h1>
      <form class="LoginForm" >
        <label for="mail">Votre adresse mail : </label><input name="mail" id="mail">
        <label for="password1">Votre mot de passe : </label><input type="password" name="password" id="password">
        <br>
        <div class="center">
          <input type="submit" value="Envoyer" >
          <input type="cancel" value="Annuler" >
        </div>
      </form>
      <p>Si vous n'êtes pas inscrit, venez vous inscrire en cliquant <a href='/signIn'> ICI </a></p>
    </div>
  </article>
  <script src="js/logIn.js"></script>
</body>
