<article class="signIn">
  <h1>Inscription</h1>

  <p>Remplissez les informations ci-dessous pour vous inscrire :</p>

  <form class="signInForm" >
    <label for="lastName">Votre nom : </label><input type="text" name="lastName" id="lastName">

    <label for="firstName">Votre prénom : </label><input name="firstName" id="firstName">

    <label for="pseudo">Votre pseudo : </label><input name="pseudo" id="pseudo">

    <p>Votre anniversaire :</p>
      <div id="anniversary">
        <select class="day" name="day" id="day">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="5">5</option>
          <option value="6">6</option>
          <option value="7">7</option>
          <option value="8">8</option>
          <option value="9">9</option>
          <option value="10">10</option>
          <option value="11">11</option>
          <option value="12">12</option>
          <option value="13">13</option>
          <option value="14">14</option>
          <option value="15">15</option>
          <option value="16">16</option>
          <option value="17">17</option>
          <option value="18">18</option>
          <option value="19">19</option>
          <option value="20">20</option>
          <option value="21">21</option>
          <option value="22">22</option>
          <option value="23">23</option>
          <option value="24">24</option>
          <option value="25">25</option>
          <option value="26">26</option>
          <option value="27">27</option>
          <option value="28">28</option>
          <option value="29">29</option>
          <option value="30">30</option>
          <option value="31">31</option>
        </select>
        <select class="month" name="month" id="month">
          <option value="1">janvier</option>
          <option value="2">février</option>
          <option value="3">mars</option>
          <option value="5">avril</option>
          <option value="6">mai</option>
          <option value="7">juin</option>
          <option value="8">juillet</option>
          <option value="9">août</option>
          <option value="10">octobre</option>
          <option value="11">novembre</option>
          <option value="12">décembre</option>
        </select>
      </div>

      <label for="mail">Votre adresse mail : </label><input name="mail" id="mail">
      <label for="password1">Votre mot de passe : </label><input type="password" name="password1" id="password1">
      <label for="password2">Confirmation de votre mot de passe </label><input type="password" name="password2" id="password2">
      <div class="">
        <input type="checkbox" name="confirm" id="confirm"><label for="confirm">J'ai lu et j'accepte les Conditions Générales d'Utilisation et la Politique de Protection des Données Personnelles.</label>
      </div>
      <input type="submit" value="Envoyer" >
  </form>

</article>
<script src="js/signIn.js"></script>
