

.Andy { /* Grand carré qui contient les 9 petits carrés */

	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
}

.horizontal {
	width:100%;
	margin: 0px;
	padding: 0px;
	display: block;
	z-index: 5;
	position: relative;
	box-shadow: 0px 3px 3px #EFE9EE;
}

.row { /* Chaque ligne contient 3 petits carrés */

	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
}

#box1 {
	height: 200px;
  width: 200px;
  background-image: url("../images/tarteFraiseG.jpg");
	transition: background-image 0.5s, transform 1s ;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

}

#box1:hover {
  height: 200px;
  width: 200px;
	transition: background-image 0.5s, transform 1s;
	transform: scale(1.1);
  background-image: url("../images/tarteFraise.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#box2 {
	height: 200px;
  width: 200px;
  background-image: url("../images/cookiesG.jpg");
	transition: background-image 0.5s, transform 1s ;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#box2:hover {
	height: 200px;
  width: 200px;
	transition: background-image 0.5s, transform 1s;
	transform: scale(1.1);
  background-image: url("../images/cookies.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#box3 {
	height: 200px;
  width: 200px;
  background-image: url("../images/chocolatG.jpg");
	transition: background-image 0.5s, transform 1s ;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#box3:hover {
	height: 200px;
  width: 200px;
	transition: background-image 0.5s, transform 1s;
	transform: scale(1.1);
  background-image: url("../images/chocolat.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#box4 {
	height: 200px;
  width: 200px;
  background-image: url("../images/glaceG.jpg");
	transition: background-image 0.5s, transform 1s ;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#box4:hover {
	height: 200px;
  width: 200px;
	transition: background-image 0.5s, transform 1s;
	transform: scale(1.1);
  background-image: url("../images/glace.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#box5 {
	height: 200px;
  width: 200px;
  background-image: url("../images/macaronsG.jpeg");
	transition: background-image 0.5s, transform 1s ;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#box5:hover {
	height: 200px;
  width: 200px;
	transition: background-image 0.5s, transform 1s;
	transform: scale(1.1);
  background-image: url("../images/macarons.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#box6 {
	height: 200px;
  width: 200px;
  background-image: url("../images/entremetG.jpg");
	transition: background-image 0.5s, transform 1s ;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#box6:hover {
	height: 200px;
  width: 200px;
	transition: background-image 0.5s, transform 1s;
	transform: scale(1.1);
  background-image: url("../images/entremet.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}


#box7 {
	height: 200px;
  width: 200px;
  background-image: url("../images/cakeG.jpg");
	transition: background-image 0.5s, transform 1s ;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#box7:hover {
	height: 200px;
  width: 200px;
	transition: background-image 0.5s, transform 1s;
	transform: scale(1.1);
  background-image: url("../images/cake.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}


#box8 {
	height: 200px;
  width: 200px;
  background-image: url("../images/biscuitsG.jpg");
	transition: background-image 0.5s, transform 1s ;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#box8:hover {
	height: 200px;
  width: 200px;
	transition: background-image 0.5s, transform 1s;
	transform: scale(1.1);
  background-image: url("../images/biscuits.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}


#box9 {
	height: 200px;
  width: 200px;
  background-image: url("../images/smoothieG.jpg");
	transition: background-image 0.5s, transform 1s ;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#box9:hover {
	height: 200px;
  width: 200px;
	transition: background-image 0.5s, transform 1s;
	transform: scale(1.1);
  background-image: url("../images/smoothie.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
