h2 {

	font-size: 1em;
	font-weight: bold;

}

.list {

	display: flex;
	flex-flow: column nowrap;
	justify-content: flex-start; /* alignment along main axis */
	align-items: flex-start; /* alignment along cross axis */
	align-content: center;

}

.listItem {

	display: flex;
	flex-flow: row nowrap;
	justify-content: center; /* alignment along main axis */
	align-items: center; /* alignment along cross axis */
	align-content: center;

}

#photo {

	width: 30%;
  	height: 30%;

}
