.newRecipe{
  background-image: url("../images/farandole2.jpg");
}

.formbackground{
  background-color: white;
  padding: 20px;
  border: solid 1px #F63471;
  border-radius: 0.5em;
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction : column;

}

.newRecipe {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  color: #6E3E28;
}

.newRecipe h1{
  align-self: center;
}


.newRecipe form{
  display: flex;
  flex-direction: column;
  width: 300px;
  justify-content: space-between;
  height: auto;
  line-height: 40px;
}

input[type=submit]{
  align-self: flex-end;
}
