.recette {

	display: flex;
	flex-flow: column nowrap;
	justify-content: flex-start;
	align-items: center;
	align-content: center;

}

#top {

	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-start;
	align-items: center;
	align-content: center;

	height: 250px;

}

#photo {

	width: 250px;
	height: 250px;

}

#general {

	background: Pink;

}

#middle {

	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-start;
	align-items: center;
	align-content: center;

	min-height: 300px;

}

.ingredient {

  min-height: 100px;
  height: auto;
  min-width: 200px;
  border: solid 2px #F63471;
  padding: 30px;
  border-radius: 15% 10%;
  margin: 20px;

  background: Pink;

}

.etape {

  display: flex;
  
}

#bottom {

	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-start;
	align-items: center;
	align-content: center;


}