.recette {

	display: flex;
	flex-flow: column nowrap;
	justify-content: flex-start;
	align-items: center;
	align-content: center;

}

#top {

	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-start;
	align-items: center;
	align-content: center;

	height: 300px;

}

#photo {

	box-sizing: border-box;
	margin: 10px 10px 10px 10px;

	width: 300px;
	height: 300px;

}

#general {

	box-sizing: border-box;

	margin: 10px 10px 10px 10px;

	background: Pink;
	
	height: 300px;

}

#general p {

	margin: 10px 10px 10px 10px;

}

#middle {

	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-start;
	align-items: center;
	align-content: center;

	min-height: 400px;

}

.ingredient {

  min-height: 100px;
  height: auto;
  min-width: 200px;
  border: solid 2px #F63471;
  padding: 30px;
  border-radius: 15% 10%;
  margin: 20px;

  background: Pink;

}

.etape {

  display: flex;
  
}

#bottom {

	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-start;
	align-items: center;
	align-content: center;


}