.signIn {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
    align-items:center;
}

.signIn h1{
  align-self: center;
}

#anniversary{
  display: flex;
}

.signIn form{
  display: flex;
  flex-direction: column;
  width: 300px;
  justify-content: space-between;
  height: 100%;
}
