html{
  cursor: url(../images/cdonut.png), auto;
}

html, body {
  height: 100%;
  margin: 0; padding: 0;
}

a {
  cursor: url(../images/pdonut.png), auto;
}

body {

  display: flex;
  flex-flow: column nowrap;

  background-color: #FFF1FF;
  font-family: Arial Narrow, sans-serif;
}

header {

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  width: 100%;
  min-height: 80px;
  max-height: 10%;

  background-color: white;
  border-top: solid 2px #F63471;
  box-shadow: 0px 1px 3px #EFE9EE;
  z-index: 10;

  font-size: 15px;
}

header h1 {
  color: #6E3E28;
  font-family: "Amatic";
  font-size: 3em;
}

header img {

  height: 50%;
  margin-left: 2%;
  margin-right: 2%;
  padding: 2px;
  border: solid 2px #F63471;
  border-radius: 50%;
}

header ul {
  list-style-type: none;
  display: flex;
  color: #F63471;
  font-size: 1.2em;
}

#menu-deroulant{

  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-around;

}

.search{

  display: flex;
  flex-flow: row nowrap;
  align-items: center;

  color: white;
  background-color: #F63471;
  
  margin-left: 30px;
  padding: 2px 2px 2px 3px;
  border-radius: 0.3em;
}

#connexion{

  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-end;

  margin-left: auto;
  margin-right: 10px;
/*  min-width: 20%;*/

}

#connexion li {

  margin-right: 10px;
  margin-left: 10px;

}

#connexion a {
  color: #F63471;
  text-decoration: none;
  border: solid 2px #F63471;
  border-radius: 3em;
  padding: 3px 10px 3px 10px;
}

#connexion a:hover {
  color: white;
  background-color:#F63471 ;
}


article {
  margin: 0% 10% 0% 10%;
  align-self: center;
  background-color: white;
  z-index: 4;
  position: relative;
  box-shadow: 1px 0px 3px #EFE9EE, -1px 0px 3px #EFE9EE;
  padding: 20px;
  color : #474747;

  width: 800px; 

}

.text{
  font-size: 1.5em;
}

/*nav {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  font-size: 1.5em;
  padding: 10px 10px 10px 10px;
  align-content: center;
  margin: 10px;
  background-color: white;
  border-right: solid 2px #F63471;
  width: 10%;
  color: grey;
}

nav h1 {
  padding: 0px;
}

nav ul {
  padding: 0px;
}

nav li {
  margin-top: 5px;
  list-style-type: none;
  font-size: 4em;
}

nav a {
  color : gray;
  text-decoration: none;
}*/

footer {
  background-color: white;
  height: 20%;
  align-self : flex-end;
  border-bottom: solid 3px #F63471;
  z-index: 7;
  position: relative;
  box-shadow: 0px -1px 3px #EFE9EE;
}

@media only screen and (max-width: 1110px) {
  .search {
    display: none;
  }
}

@media only screen and (max-width: 860px) {
  #connexion {
    display: none;
  }
}
